#masthead {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/chilaquiles-banner.jpg");
    background-size: cover;
    background-position: center;
}

@media (min-width: 1400px) {
    .container   {
        max-width: 960px;
    }
}
